*{
    margin:0px;
    padding:0px;
}
body{
height: 100vh;
text-align:  center;
display: flex;
}
.container{
display: grid;
height: 100%;
width: 100%;
}
.colorDiv{
border-color: black;
border-style: solid;
border-width: 1px;
}
.tool-Bar{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.option-Container{
    display:flex;
    flex-direction: column;
}
input[type="range"][orient="vertical"]{
    writing-mode: bt-lr;
    appearance: slider-vertical;
}
.slider{
    height:200px;
}