*{
    margin:0px;
    padding:0px;
}
body{
height: 100vh;
text-align:  center;
}

.container{
display: grid;
grid-template-columns: repeat(16,1fr);
grid-template-rows: repeat(16,1fr);
height: 100%;
width: 100%;
}

.colorDiv:hover{
    background-color: black;
}