*{
    margin:0px;
    padding:0px;
}
body{
height: 100vh;
text-align:  center;
}

button{
    width:100px;
    height:auto;
    margin:20px;
    padding:20px;
}
.container{
display: grid;
height: 100%;
width: 100%;
}
.colorDiv:hover{
    background-color: black;
}