*{
    margin:0px;
    padding:0px;
}
body{
height: 100vh;
text-align:  center;
}

button{
    width:auto;
    height:40px;
    margin-top: 10px;
    padding:5px;
    
}
.container{
display: grid;
height: 100%;
width: 100%;
}
